#grid-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    border-style: solid;
    border-color: blue;
}

.row-container {
    display: flex;
    border-style: solid;
    border-color: red;
    margin: -1px;
    border: 0px;
    flex: 1;
}

.square {
    border-style: solid;
    margin: -1px;
    aspect-ratio: 1/1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}