#grid-container {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 900px;
    border-style: solid;
    border-color: blue;
    padding: 0px;
}

.row-container {
    display: flex;
    border-style: solid;
    border-color: red;
    margin: -1px;
    border: 0px;
    flex-basis: auto;
}

.square {
    border-style: solid;
    margin: -1px;
    aspect-ratio: 1/1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.fill-square {
    background-color: black;
}